<main class="application">
  <div class="home-page-splash">
    <div class="logo">
      <h1> Dungeon Masters Tavern </h1>
    </div>
    <a href="/users/login">Login</a>
    <a href="/users/signup">Sign up</a>
  </div>
</main>